<nav class="navbar">
  <div class="navbar-content">
    <img
      src="https://i.ibb.co/PFP1DwS/Generative-Layer-1.png"
      alt=""
      class="logo"
      routerLink="/home"
      routerLinkActive="active"
    />
    <a
      class="logo"
      routerLink="/gallery"
      routerLinkActive="active"
      [ngClass]="{ 'link-underline': isGalleryActive }"
      >Gallery</a
    >
    <a
    class="logo"
    routerLink="/kute"
    routerLinkActive="active"
    [ngClass]="{ 'link-underline': isKuteActive }"
    >Kute</a
  >
  </div>
</nav>

<marquee style="color: pink; font-family: geo"
  >ჩვენ ვართ თავისუფლები დროში და აუცილებლად ვიქნებით ასეთივე თავისუფლები
  სივრცეში
</marquee>

<router-outlet></router-outlet>
